body {
    background-color: #171717;
    display:flex;
    flex-direction: row;
}

.menu_left{
    left:0;
    width:25vw;
    height:100vh;
    border-right: #171717 3px;
}
.logo_left{
    width:20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3vh;
    padding-bottom: 10vh;
}


.logo_left>a{
    margin-top:3vh;
    font-size:3em;
    font-family: "Inter";
    color:#990B0E;
    -webkit-text-stroke: 1px #990B0E;
}

.menu_options{
    display: flex;
    flex-direction: row;
    width:22vw;
    align-items:center;
    margin-left:2vw;
    gap:3vh;
    margin-bottom:5vh;
}

.menu_options>a{
    font-size:2em;
    font-family: "Inter";
    color: #D9D9D9;
}

.menu_options i {
    width: 32px;
}



.budgets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:78vw;
    margin-top:10vh;
    color:#C9C9C9;
    text-align:center;
}

.payments-container{
    width:20vw;
    background-color:#D9D9D9;
    height:10vh;
    display:flex;
    align-items:center;
    justify-content: center;
}

.payments-container > a{
    color: #000000;
    font-size: 1.3em;
}
.date-container{
    width:20vw;
    display:flex;
    background-color:#700002;
    height:10vh;
    align-items:center;
    justify-content: center;
}

.date-container> a{
    color:#D9D9D9;
    font-size: 1.2em;
}

.data-container{
    display:flex;
    flex-direction: column;
}

.category-container{
    display:flex;
    flex-direction: row;
    width:40vw;
    height:20vh;
}

.amount-container{
    margin-bottom:5vh;
}

@media (max-width: 600px) {
    .menu_options > a{
        font-size:0;
    }
    .logo_left{
        width:100vw;
    }
    .budgets-container{
        margin-top:25vh;
        width:90vw;
    }
    .payments-container{
        width:30vw;
        height:8vh;
    }
    .date-container{
        width:30vw;
        height:8vh;
    }
    .category-container{
        width:60vw;
        height:12vh;
    }
    .menu_left{
        width:10vw;
    }
}
